<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task view</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-primary" href="/">ScreenshotMaker</a>
        <div class="nav-item" th:if="${#httpServletRequest.remoteUser!=null}">
            <span></span>
        </div>
        <div class="nav-item" th:if="${#httpServletRequest.remoteUser!=null}">
            <span></span>
        </div>
        <div class="nav-item" th:if="${#httpServletRequest.remoteUser!=null}">
            <a href="/task/history">History</a>
        </div>
        <div class="nav-item" th:if="${#httpServletRequest.remoteUser!=null}">

            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <div class="nav-item" th:if="${#httpServletRequest.remoteUser==null}">
            <a href="/login">Log in</a>
            <a href="/add_user" th:if="${#httpServletRequest.remoteUser==null}">Create user</a>
        </div>
    </div>
</nav>

<h4 th:text="${task.getUrl()}">http://example.orgd</h4>
<table class="table">
    <thead>
    <tr>
            <th>ID</th>
            <th>Browser</th>
            <th>Os</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="job : ${task.getJobList()}">
            <td th:text="${job.getId()}">1</td>
            <td th:text="${job.getBrowser()}">1</td>
            <td th:text="${job.getOperationSystem()}">1</td>
            <td th:text="${job.getStatus().toString()}">John Doe</td>
            <td>
                <a th:href="@{/job/{jobId}/show(jobId=${job.getId()})}" th:if='${"SUCCESS".equals(job.getStatus().toString())}' href="show.html" target="_blank">Show</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>